body {
    padding: 0;
    margin: 0;
}

.nav {
    min-height: 6vh;
    background-color: black;
}

.header-icon {
    min-height: 11vh;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon {
    position: absolute;
    margin-left: 40%;
    margin-top: 7px;
    
    height: 65px;
}

/* .icon::before {
    content: "1";
    position: absolute;
    background-color: black;
    color:black;
    height: 300px;
    z-index: 10;
    margin-top: 200px;
} */



.btn-primary1 {
    background-color: #3a61b3;
    color: white;
    width: 100%;
    border-radius: 30px;
    letter-spacing: 1px;
}

.btn-primary2 {
    background-color: rgb(1, 5, 12);
    color: white;
    width: 100%;
    border-radius: 30px;
    letter-spacing: 1px;
}

.btn-primary3{
    background-color: white;
    width: 100%;
    color: grey;
    border-radius: 30px;
    border: 2px solid grey;
    letter-spacing: 1px;

}



.container-fluid {
    min-height: 30vh;
}

.divider {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.form-check-input {
    padding-left: 0px;
    margin-left: 0px;
    color: green;
}

.signup-btn {
    width: 100%;
    border-radius: 30px;
    border: 2px solid;
    height: 46px;
}

.rem-label {
    margin-left: 18px;
}

.log-in {
    position: absolute;
    margin-left: 175px;
    width: 200px;
    height: 50px;
    background-color: #15883e;
    border-radius: 30px;
    border-color: #15883e;
    letter-spacing: 1px;
    font-weight: bold;
}

.apple {
    position: absolute;
    margin-top: 12px;
    margin-left: 100px;
    font-weight: 100;
}

.fb {
    position: absolute;
    margin-top: 12px;
    margin-left: 80px;
}

.google {
    position: absolute;
    z-index: 1;
    margin-top: 15px;
    margin-left: -155px;
    
   
}

.forgot-pass {
    text-decoration: underline;
    color: grey;
}

.dont-have-acc {
    font-weight: 600;
    letter-spacing: 1px;
    font-weight: bold;
}

.or {
    /* content: "";
    position: absolute; 
    background-color: black;
    height: 10px;
    width: 5px;
    margin-top: 200px; */
    font-size: 12px;
    color: black;
    z-index: 3;
   
    
}

.or::before {
    content: "OR";
    position: absolute; 
    background-color: white;
    height: 15px;
    width: 60px;
    margin-top: -2px;
    margin-left: -35px;
    z-index: 1;
}

/* .or::after {
    content: "";
    position: absolute; 
    background-color: white;
    height: 15px;
    width: 40px;
    margin-top: -6px;
    margin-left: -48px;
    z-index: 1;
    
} */

.pass-n-mail {
    font-weight: bold;
}

.pass-n-mail1 {
    color: grey;
    font-weight:400;
}

.to-login {
    font-size: medium;
    font-weight: bold;
}

.sq-borders {
    border-radius: 0;
}